* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
body {
  font-family: "Montserrat", sans-serif;
  background: #181e31;
  color: #e0e9ff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

nav ul li a {
  letter-spacing: -0.5px;
  /* Adjust the value as per your preference */
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

nav {
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
  /* Adjust the alpha value to achieve the desired transparency */
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: rgb(225, 211, 255);
  text-decoration: none;
  font-size: 18px;

  padding: 10px 20px;

  /* Adjust the alpha value to achieve the desired transparency */
  border-radius: 5px;
  /* Adjust the border-radius value to achieve the desired level of rounding */
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: rgba(130, 113, 255, 0.4);
  /* Adjust the alpha value to achieve the desired transparency */
}

nav ul li a:before {
  content: "";
  display: inline-block;
  height: 4px;
  width: 0;
  background-color: #e0e9ff;
  transition: width 0.3s ease;
}

.hero {
  height: 100vh;
  background-image: url("/assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero {
  position: relative;
}

#bgCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Set a lower z-index to move it behind the hero content */
}

.hero-content {
  position: relative;
  z-index: 2; /* Set a higher z-index for the hero content to appear above the canvas */
}

.main-content {
  padding-top: 100px;
  /* Add some padding to push the content below the fixed header */
}

.columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.columns div {
  flex: 1;
  margin: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: #e0e9ff;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.columns img {
  display: block;
  margin: 0 auto;
  width: 50%;
  border-radius: 50%;
}

/*
* Terminal Section
*/
.thought-bubble {
  position: relative;
  width: 40%;
  height: 30%;
  border-radius: 5%;
  background-color: #f7f7f7;
  color: #181e31;
  padding: 40px;
  opacity: 80%;
  top: 30%;
  left: 35%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out;
  display: flex;
  flex-direction: column-reverse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  align-items: center;
  justify-content: center;
}
.question-input {
  width: 500px;
  height: 50px;
  background-color: #ffffff;
  bottom: -25px;
  left: -25px;
  border-radius: 5%;
  color: rgb(15, 13, 13);
  border: 2px solid #fff;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}
.response {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  order: 1;
  margin-top: 10px;
}

.show {
  opacity: 1;
}
